.form-box{
    max-width:564px;
}
a{
    text-decoration: none;
}
.btn{
    margin-top: 20px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    border: 0;
    outline: 0;
    
    background: linear-gradient(to right, #4facfe, #00f2fe);
}